### Prediction of demands of shared bikes

## import libraries

In [1]:
import pandas as pd
import numpy as np
from numpy import round 
import matplotlib.pyplot as plt

## Read Dataset

In [2]:
Bike_Data=pd.read_csv('day.csv')

## Type of Bike_Data

In [3]:
type(Bike_Data)

pandas.core.frame.DataFrame

## converting all values to whole numbers

In [4]:
Bike_Data['hum']=[int(round(hum))for hum in Bike_Data['hum']]
Bike_Data['windspeed']=[int(round(speed))for speed in Bike_Data['windspeed']]
Bike_Data['temp']=[int(round(temp)) for temp in Bike_Data['temp']]
Bike_Data['temp']=[int(round(atemp))for atemp in Bike_Data['atemp']]
Bike_Data.set_index('cnt',inplace=True)

In [5]:
Bike_Data

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered
cnt,,,,,,,,,,,,,,,
985,1,01-01-2018,1,0,1,0,6,0,2,18,18.18125,81,11,331,654
801,2,02-01-2018,1,0,1,0,0,0,2,18,17.68695,70,17,131,670
1349,3,03-01-2018,1,0,1,0,1,1,1,9,9.47025,44,17,120,1229
1562,4,04-01-2018,1,0,1,0,2,1,1,11,10.60610,59,11,108,1454
1600,5,05-01-2018,1,0,1,0,3,1,1,11,11.46350,44,13,82,1518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2114,726,27-12-2019,1,1,12,0,4,1,2,11,11.33210,65,23,247,1867
3095,727,28-12-2019,1,1,12,0,5,1,2,13,12.75230,59,10,644,2451
1341,728,29-12-2019,1,1,12,0,6,0,2,12,12.12000,75,8,159,1182
1796,729,30-12-2019,1,1,12,0,0,0,1,12,11.58500,48,24,364,1432
2729,730,31-12-2019,1,1,12,0,1,1,2,11,11.17435,58,10,439,2290